<html>
  <body>
    <div class="row">
    {% for student in students %}
      <div class="cell">
        {{student.Title}} {{student.FirstName}} {{student.Surname}}
        <br>
        <img src="{{student.SussiId}}.svg" />

    </div>
    {% if loop.index % 2 == 0 %}
    </div>
    <div class="row">
    {% endif %}
    {% if loop.index % 24 == 0 %}
    </div>
    <hr>
    <div class="pagebreak"></div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
  </body>
  <style>
    .cell{
      float: left;
      width: 50.00%;
      height:26.7mm;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

      img{
        max-width: 100%;
        height: auto;
      }
      .pagebreak{
         clear: both;
         page-break-before: always;
      }

  </style>
</html>
